//main
$bg-color-body: #FBFBFF;
$main-text-font : "Quicksand", "sans-serif;";
$main-w-screen:screen;
//upper-header main
$upper-header-bg-color:#F7F8F9;
$upper-header-bg-height:200.5px;
//upper-header left buttons
$upper-header-btn-text-color:#007BFF;
$upper-header-btn-text-size:13px;
$upper-header-btn-bg-color:#FFFFFF;
$upper-header-btn-shadow:0 0 1px 0 rgb(10 22 70 / 6%), 0 11px 17px -12px rgb(10 22 70 / 10%);
$upper-header-btn-radius:4px;
$upper-header-btn-border:1px solid #FFFFFF;
$upper-header-btn-height:34.7px;
$upper-header-btn-text-weight:600;

//lower-header main
$lower-header-bg-color:#fbfbff;
$lower-header-border-b:1px solid rgba(151, 151, 151, 0.25);
//lower-header text
$lower-header-text-color:#0257BC;

//header mobile version
$mobile-header-bg-color:#FBFBFF;

//header navigation
$navigation-bg-color:#0657BC
